<IfModule mod_rewrite.c>
	# Turn mod_rewrite on
	RewriteEngine On
	RewriteBase /

    # Redirect non-www. to www. (except when on a subdomain)
    RewriteCond %{HTTP_HOST} !^www\.
    RewriteCond %{HTTP_HOST} !^(.*)\.(.*)\. [NC]
    RewriteRule ^ https://www.%{HTTP_HOST}/$1 [R=301,L]

	# http to https
    RewriteCond %{HTTPS} !=on
    RewriteRule ^.*$ https://%{SERVER_NAME}%{REQUEST_URI} [R,L]

	RewriteCond %{THE_REQUEST} /public/([^\s?]*) [NC]
	RewriteRule ^ %1 [L,NE,R=302]

	RewriteCond %{REQUEST_URI} !^/public/
	RewriteRule (.*) public/$1 [L]
</IfModule>
